@import url('https://fonts.googleapis.com/css?family=Exo+2:800|Kanit:900|Libre+Franklin:300,900|Muli:900');


.poster{
  position: relative;
  bottom: 25%;
  transform: scale(0.6);
  background: #37212E;
  width: 530px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  filter: blur(.5px) saturate(65%);
  .dots{
    margin-top: 10px;
    width: 92%;
    height: 84%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    .dot-1{
      margin: 3px;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: #8DCDF8;
    }
    .dot{
      margin: 3px;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: #8DCDF8;
    }
  }
  .footer-text{
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 15px;
    h1{
      font-family: 'Muli', sans-serif;
      margin-bottom: 0px;
    }
    p{
      font-size: .5em;
      font-weight: 300;
      margin-top: 0px;
    }
  }
}

.white-dot{
  background-color: white;
  margin: 3px;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  &::after{
    content: '';
    width: 0;
    height: 0;
    position: relative;
    top: -24.5px;
    left: 50%;
    margin-left: -12.5px;
    border-style: solid;
    border-width: 0 6px 7.5px 6px;
    border-color: transparent transparent #ffffff transparent;
  }
}
