@import url("https://fonts.googleapis.com/css?family=Raleway:600");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Josefin+Sans|Julius+Sans+One|PT+Serif+Caption|Rajdhani|Rock+Salt");
.c-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.c-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

.s-pad {
  padding-left: 3vw;
  padding-right: 3vw; }

.plax {
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden; }

.plax-center {
  height: 200px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

* {
  font-family: 'Raleway', sans-serif; }

nav {
  position: relative;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: "Josefin Sans", sans-serif; }
  nav h5 {
    margin-bottom: 0;
    margin-left: 5px;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
  nav .social-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .social-links .link {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to right, #c21500, #ffc500 50%);
      background-size: 200% 100%;
      background-position-x: 100%;
      font-size: 1.2em;
      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none; }
      nav .social-links .link:hover {
        transition: all 900ms cubic-bezier(0, 0, 0.23, 1);
        background-position-x: 0%; }

.big {
  position: relative;
  height: 600px;
  background-image: url(../resources/mountain.jpg); }
  .big .logo {
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
    .big .logo h1 {
      margin-top: 3vh;
      font-size: 6em; }
    .big .logo .line {
      width: 100%;
      height: 1px;
      border: 1px solid white;
      box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }

.content {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  height: 850px;
  box-shadow: inset 0px 0px 30px 2px rgba(50, 50, 50, 0.75); }

.projects {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
  .projects p {
    margin-top: 5vh;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.2); }
  .projects .big-line {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
  .projects .project-gal {
    width: 100%; }
    .projects .project-gal .row-of3 {
      width: 70%;
      justify-content: space-around; }
      .projects .project-gal .row-of3 .filler {
        height: 200px;
        width: 300px;
        background-size: 100% 100%;
        border-radius: 5%;
        margin: 10px;
        position: relative;
        opacity: 0;
        transform: translate(50px, 50px);
        transition: all 0.4s ease-in-out; }
        .projects .project-gal .row-of3 .filler.is-showing {
          opacity: 1;
          transform: translate(0px, 0px); }

.mid {
  position: relative;
  height: 600px;
  background-image: url(../resources/oregon.jpg);
  padding-bottom: 2vh;
  overflow: hidden; }
  .mid .font {
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
    color: white;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
    .mid .font .skills {
      overflow: visible;
      height: 300px;
      width: 50%;
      margin-right: 10vw;
      transform: translateX(-1000px); }
      .mid .font .skills h1 {
        display: inline-block;
        position: relative;
        top: 0;
        font-size: 2.5em; }
    .mid .font .skills-img div {
      width: 100%;
      height: 100%; }
    .mid .font .skills-img .skill-img {
      background-size: 100% 100%;
      float: left;
      position: relative;
      display: inline-block;
      width: 25%;
      height: 25%;
      margin: 5%; }

.skills-img, .back-img, .skills {
  position: relative; }

.skills-img {
  height: 300px;
  width: 300px;
  border-radius: 5%;
  transform: translateX(-1000px); }

.back-img {
  height: 300px;
  width: 300px;
  border-radius: 5%;
  transform: translateX(-1000px); }

.css {
  padding-top: 1vh;
  height: 900px; }
  .css div h1 {
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
  .css div p {
    margin-top: 5vh;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.2); }
  .css .mid-line {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
  .css .css-gal {
    margin-bottom: 1vh; }
    .css .css-gal .carousel-item {
      margin: 0;
      height: 470px;
      width: 570px; }
      .css .css-gal .carousel-item .c {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .css .css-gal .carousel-item .b-runner {
        height: 100%; }
      .css .css-gal .carousel-item .super {
        height: 90%; }
    .css .css-gal a {
      margin-left: -3vw;
      margin-right: -3vw; }
    .css .css-gal .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0px 15px 25px;
      border-color: transparent transparent transparent #aaaaaa; }
      .css .css-gal .arrow.left {
        transform: rotateZ(180deg); }

.footer {
  position: relative;
  background-image: url(../resources/boone.jpg);
  height: 600px; }
  .footer .font {
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
    height: 400px;
    color: white;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5); }
    .footer .font .background {
      padding-top: 40px;
      overflow: visible;
      height: 400px;
      width: 50%;
      margin-left: 15vw;
      transform: translateX(1000px); }
      .footer .font .background h1 {
        display: inline-block;
        position: relative;
        top: 0;
        font-size: 2.5em; }
    .footer .font .back-img img {
      display: inline-block;
      width: 100%;
      height: 100%;
      transform: rotateZ(90deg);
      border-radius: 5%;
      border: 3px solid white; }

.find-me {
  width: 100%;
  height: 50px;
  background: white;
  border-top: 1px solid black;
  box-shadow: inset 0px 7px 25px 0px rgba(50, 50, 50, 0.75); }

@media (max-width: 1000px) {
  .background {
    transform: translate(0px, 0px) !important; }

  .back-img {
    transform: translate(0px, 0px) !important; } }

/*# sourceMappingURL=style.css.map */
